{% extends 'base.html.twig' %}

{% block title %}Liste des sujets
{% endblock %}

{% block body %}
	<div class="row">
		{% for subject in subjects %}
			<div class="col-sm-6 p-3">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">{{subject.name}}</h5>
						<p class="card-text">{{subject.messages.get(0).contenue}}</p>
						<a href="{{path('app_subject_default', {'subjectId': subject.id})}}" class="btn btn-primary">Afficher</a>
					</div>
				</div>
			</div>

		{% endfor %}
	</div>
{% endblock %}
